@using Client.Models.ViewModels
@model UserRoleVM
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <script src="path/to/sweetalert.min.js"></script>
</head>

<body>

    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <div class="header-container">
                                <div class="text-right " style="margin-right: 20px;">
                                    <button id="openAddModalBtn" class="btn btn-success btn-md"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-bullhorn"></i> Id</th>
                                        <th class="hidden-phone">   <i class="fa fa-question-circle"></i> İsim</th>
                                        <th class="hidden-phone">   <i class="fa fa-question-circle"></i>Mail </th>
                                        <th><i class="fa fa-question-circle"></i>Rolü</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserRole)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Mail</td>
                                            <td>@item.RoleName</td>

                                            <td>
                                                <button class="openUpdateUserRoleModal btn btn-primary btn-md" userRoleId="@item.Id"><i class="fa fa-pencil"></i></button>
                                                <button data-bs-toggle="modal" class="btnDelete btn btn-danger btn-md" userRoleId="@item.Id"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>


    <div id="addUserRoleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addUserRoleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Rol Ekle</h4>
                </div>
                <div class="modal-body">
                    <form id="newRecordForm">
                        <div class="form-group">
                            <label for="name">İsim :</label>
                            <select class="form-control" id="userId" name="userId">
                                <option value="2">İsim Seçiniz</option>
                                @foreach (var item in Model.User)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>


                            <label for="role">Rol :</label>
                            <select class="form-control" id="roleId" name="roleId">
                                <option value="2">Rol Seçiniz</option>
                                @foreach (var item in Model.Role)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                          
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" id="postUserRole">Kaydet</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div id="updateUserRoleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateUserRoleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Rol Güncelle</h4>
                </div>
                <div class="modal-body">
                    <form id="updateRecordForm">
                        <input type="hidden" id="updatedUserRoleId" name="updatedUserRoleId" value="">
                        <div class="form-group">
                            <label for="updatedUserId">İsim :</label>
                            <select class="form-control" id="updatedUserId" name="updatedUserId">
                                <option value="2">İsim Seçiniz</option>
                                @foreach (var item in Model.User)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>


                            <label for="updatedRoleId">Rol :</label>
                            <select class="form-control" id="updatedRoleId" name="updatedRoleId">
                                <option value="2">Rol Seçiniz</option>
                                @foreach (var item in Model.Role)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" id="updateUserRole">Güncelle</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
   
    <script src="~/js/userrole.js"></script>
    <script>

        document.getElementById('openAddModalBtn').addEventListener('click', function () {
            $('#addUserRoleModal').modal('show');
        });

        $(document).on('click', '.openUpdateUserRoleModal', function () {            
            var userRoleId = $(this).attr('userRoleId');
            $('#updatedUserRoleId').val(userRoleId);
            $('#updateUserRoleModal').modal('show');
        });

    </script>
    <!--script for this page-->
</body>
